appdirs==1.4.0
git+https://github.com/django/django@master
#git+https://github.com/django-nonrel/djangotoolbox
#git+https://github.com/django-nonrel/mongodb-engine
isodate==0.5.4
packaging==16.8
ply==3.10
pyparsing==2.1.10
pytz==2016.10
rdflib==4.2.1
six==1.10.0
#celery
