
<table borders=1>
<tr>
<th>type</th>
<th>f</th>
<th>type2</th>
<th>count</th>
</tr>

{%for t in obj['fields'] %}

{%for f in obj['fields'][t] %}

{%for f2 in obj['fields'][t][f] %}
<tr>
<td>{{t}}</td>
<td>{{f}}</td>
<td>{{f2}}</td>
<td>{{obj['fields'][t][f][f2]}}</td>
</tr>
{%endfor%}
{%endfor%}
{%endfor%}
</table>