<html>
  <head>
    <link rel="stylesheet" href='{{ static('tablesorter/dist/css/theme.default.min.css') }}'></link>
    <script type="text/javascript" src='{{ static('jquery/jquery.js') }}'></script>
    <script type="text/javascript" src='{{ static('tablesorter/dist/js/jquery.tablesorter.js') }}'></script>
  </head>
  <body>
    <table borders=1 id="myTable" class="tablesorter">
      <thead>
	<tr>
	  <th>Field</th>
	</tr>
      </thead>
      <tbody>
	{%for t in obj['fields'] %}
	<tr>
	  <td>{{t}}</td>
	</tr>
	{%endfor%}
      </tbody>
    </table>
    
    <script>
      $(document).ready(function() 
      { 
      $("#myTable").tablesorter(); 
      } 
      ); 
    </script>
    
  </body>
</html>
